@import "tailwindcss";
* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Verdana, Geneva, Tahoma, sans-serif 
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
}

.box {
  border: 2px solid white;
}
.box2 {
  border: 2px solid #1c2a4d;
  background: #0f172a;
  border-radius: 8px;
  min-height: 80px;
}
.azure{
  background-color: #0f172a;
}
.info {
    display: grid;
    /* Auto-fit : crée 3 colonnes sur PC, mais passe à 1 seule sur mobile */
    grid-template-columns: repeat(2, 1fr); 
    gap: 12px;
    width: 100%;

}

.img1 {
  position: relative; /* Indispensable pour placer l'image par rapport au bloc */
  overflow: hidden;   /* Évite que l'image ne dépasse du cadre */
  min-height: 300px; /* Force une hauteur pour le test */
  min-height: auto;
  width: 100%;

  z-index: 1;
}

.img1::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  
  /* L'image de fond */
  background-image: url("/image/tatouDragon.png");
  background-repeat: no-repeat; /* Évite les doublons */
  background-position: center;  /* Centre la silhouette */
  background-size: contain;     /* Adapte la taille pour voir toute la silhouette */
  
  /* Opacité faible (attention : utilise un point "." et non une virgule) */
  opacity: 0.02; 
  
  z-index: 0; /* Place l'image derrière le contenu */
}

/* On s'assure que le texte passe devant */
.img1 > * {
  position: relative;
  z-index: 1;
}

.img2 {
   /* Indispensable pour placer l'image par rapport au bloc */
  overflow: hidden;   /* Évite que l'image ne dépasse du cadre */

}

.img2::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  
  /* L'image de fond */
  background-image: url("/image/redDragon.png");
  background-repeat: no-repeat; /* Évite les doublons */
  background-position: center;  /* Centre la silhouette */
  background-size: contain;     /* Adapte la taille pour voir toute la silhouette */
  
  /* Opacité faible (attention : utilise un point "." et non une virgule) */
  opacity: 0.02; 
  
  z-index: 0; /* Place l'image derrière le contenu */
}

/* On s'assure que le texte passe devant */
.img2 > * {
  position: relative;
  z-index: 1;
}